* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: papayawhip;
}

header {
  margin: 20px;
  padding: 30px;
  text-align: justify;
}

h1,
h2 {
  color: rgb(65, 28, 174);
  font-weight: bold;
}

section {
  width: 500px;
  height: 300px;
  margin: 20px;
  padding: 30px;
}
.contactme {
  width: 500px;
  height: 50px;
  margin: 20px;
  padding: 30px;
}

.aboutme {
  width: 500px;
  height: 500px;
  margin: 20px;
  padding: 30px;
}

img {
  border-radius: 30px;
}

a[href^="https"] {
  color: hotpink;
}

li::after {
}
